.footer {
    background-color: black;
    padding: 40px 0;
    text-align: center;
    color: #6c757d;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo h2 {
    margin: 0;
  }
  
  .footer-links ul,
  .footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
  }
  
  .footer-links a,
  .footer-menu a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social a img {
    width: 30px; /* Adjust the size of the icons as needed */
    height: 30px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  